@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Special paddings/margins/text*/

body {
    margin: 0;
    padding: 0;
    border: 0;
}

a:link {
    text-decoration: none!important;
}

/*--------------------------------------------Header*/

header {
    background-color: rgba(8, 8, 8, 0.7);
    font-family: "Exo", sans-serif;
    line-height: 50px;
    text-align: center;
}

#heading h1 {
    font-size: 300%;
    letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 32px 0 8px;
}

#heading h2 {
    font-size: 100%;
    color: #fafafa;
    font-weight: 200;
    margin: 0;
    border-bottom: 4px solid #ffdf00;
}

/*--------------------------------------------Navbar*/

#navbar {
    background-color: rgba(32, 32, 32, 0.9);
    list-style-type: none;
    margin: auto;
    padding: 0;
    float: none;
    text-align: center
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    font-size: 150%;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0 64px;
    text-decoration: none;
    display: inline;
    line-height: 64px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#navbar li a:hover {
    color: #ffdf00;
}


/*--------------------------------------------About Us*/

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/tools-background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2 {
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
    text-decoration: underline;
}

#cover-text {
    background-color: rgba(32, 32, 32, 0.5);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fafafa;
    line-height: 100%;
    width: 60%;
    height: auto;
    border-radius: 5%;
    padding: 20px 20px;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

/*--------------------------------------------Prices*/

#prices {
    background-color: #afafaf;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vh;
    text-align: center;
    color: #fafafa;
    width: 100%;
    height: 50vh;
    position: relative;
}

#prices h2 {
    text-align: center;
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
    text-decoration: underline;
    padding: 30px 0;
    margin: 0;
}


#prices-list {
    background-color: rgba(64, 64, 64, 0.5);
    width: 80%;
    height: 65%;
    line-height: 150%;
    display: inline-block;
    border: 10px double #afafaf;
}

#left-content {
    float: left;
    width: 50%;
}

#right-content {
    float: right;
    width: 50%;
}

#left-content p,
#right-content p {
    font-size: 1.25em;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0.5em;

}

/*--------------------------------------------Gallery*/

#gallery {
    background-color: #afafaf;
    clear: both;
    height: 100%;
    line-height: 0;
    column-count: 5;
    column-gap: 0;
}

#gallery img {
    width: 100%;
}

/*--------------------------------------------Contact*/

#contact {
    background-color: #afafaf;
    width: 100%;
    height: 800px;
    position: relative;
    text-align: center;
    font-size: 1.5vh;
    font-family: "Roboto", sans-serif;
    color: #fafafa;
}

#contact h2 {
    text-align: center;
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
    text-decoration: underline;
    padding: 30px 0;
    margin: 0;
}

#contact-overlay {
    background-color: rgba(64, 64, 64, 0.5);
    width: 75%;
    height: 75%;
    line-height: 150%;
    display: inline-block;
    border: 10px double #afafaf;
}

#left-contact {
    float: left;
    width: 50%;
}

#left-contact h2 {
    padding-top: 30px;
    padding-bottom: 0px
}

#right-contact {
    float: right;
    width: 50%;
}

#left-contact p {
    font-size: 1.25em;
    font-weight: 300;
}

input {
    background-color: rgba(64, 64, 64, 0.5);
    color: #fafafa;
    width: 75%;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ffdf00;
    cursor: text;
}

input[name=message] {
    padding: 90px 12px;
}

input:focus {
    background-color: #fafafa;
    color: black;
}

input[type=submit] {
    padding: 10px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

input[type=submit]:hover {
    background-color: #ffdf00;
    color: black;
}

/*--------------------------------------------Footer*/

footer {
    background-color: rgba(8, 8, 8, 0.7);
    line-height: 50px;
    text-align: center;
}

footer h1 {
    font-family: "Exo", sans-serif;
    font-size: 300%;
    letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 30px 0;
    border-top: 4px solid #ffdf00;
}

#social-networks {
    margin: 0;
    padding: 0;
}

#social-networks li {
    display: inline;

}

#social-networks li a {
    color: #fafafa;
    font-size: 3.5em;
    padding: 0 64px;
    line-height: 64px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-networks li a:hover {
    color: #ffdf00;
}

/*--------------------------------------------Media Queries*/

@media (min-width:1921px) {

    #cover-text {
        font-size: 22px;
        line-height: 18px
    }

}

@media (max-width:768px) {

    #gallery {
        column-count: 3;
    }

    #contact-overlay {
        padding: 10px
    }

    #contact {
        width: 100%;
        height: 1200px;
    }

    #left-contact,
    #right-contact {
        width: 100%;
    }

    #left-contact p {
        padding: 0 10px;
    }

    #cover-text {
        top: 5%;
        font-size: 14px;
        line-height: 16px;
        width: 80%;
    }

}

@media (max-width:425px) {

    #heading h1 {
        font-size: 180%;
    }

    #prices {
        height: 100%;
    }

    #cover-text {
        width: 80%;
        line-height: 14px;
        font-size: 12px;
    }
    
    #cover-text br {
        display: none;
    }

    #prices-list {
        width: 90%;
        height: 90%;
    }

    #social-networks li a {
        padding: 0 30px;
    }

}

@media (max-width:320px) {

    footer h1 {
        font-size: 250%;
    }

}